<html>
  <header><head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel='stylesheet' href='/css/style.css' />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
<style>
    h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #354497;
}

  .article{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropbtn {
    background-color: #CF5565;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }

  .maincontent{
    padding-left: 25px;
    padding-right: 25px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #ff334e;}
  </style>
</head>
<body style="background-color: rgb(250, 250, 154);">
    <div class="jumbotron hidden-xs">
    </div><!-- jumbotron -->

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="/" class="navbar-brand" style="font-family: Lucida Handwriting;">Solar System</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/Planets">Planets</a></li>
            <div class="dropdown">
              <button class="dropbtn">Beyond Planets</button>
              <div class="dropdown-content">
                <a href="/Stars">Stars</a>
                <a href="/Asteroids">Asteroids</a>
                <a href="/Milkyway">Milky Way</a>
                
              </div>
            </div><li><a href="/news">News</a></li>
            <li><a href="/Insert_Info">Feedback</a></li>
          </ul><!-- nav -->
        </div><!-- navbar-collapse -->
      </div><!-- container -->
    </nav>
    <div class="maincontent">
        <article class="article">
          <h1 class="article-title" style="font-family: Georgia;"><b><u>Asteroids..!</u></b></h1>
            <p style="color:#003300; font-size: 20px;">Our planetary system is located in an outer spiral arm of the Milky Way galaxy. Our solar system consists of our star, 
              the Sun, and everything bound to it by gravity — the planets Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus and Neptune, 
              dwarf planets such as Pluto, dozens of moons and millions of asteroids, comets and meteoroids. Beyond our own solar system, 
              we have discovered thousands of planetary systems orbiting other stars in the Milky Way.<br>
              Most asteroids are irregularly shaped, though a few are nearly spherical, and they are often pitted or cratered. As they revolve around the sun in elliptical orbits, the asteroids also rotate, sometimes quite erratically, tumbling as they go. More than 150 asteroids are known to have a small companion moon (some have two moons). There are also binary (double) asteroids, in which two rocky bodies of roughly equal size orbit each other, as well as triple asteroid systems.</p>
              <center><img src="https://images.spot.im/v1/production/fpvcpbtymyg7wdtby5ba" style="width:700px;height:400px;"</center>
            <p></p>
        </article></body>
  </header>
  <body>

      <h1 class="article-title" style="font-family: Lucida Handwriting;">Let's Dive Into Some Facts..!</h1>

      <br>
      <ol  style="padding-right: 25px; font-size: 20px; color:#003300;">

        <li>Asteroids are leftovers from the formation of our solar system about 4.6 billion years ago. Early on, the birth of Jupiter prevented any planetary bodies from forming in the gap between Mars and Jupiter, causing the small objects that were there to collide with each other and fragment into the asteroids seen today.</li>
        <li>The current known asteroid count is: 1,065,732.</li>
        <li>Asteroids range in size from Vesta—the largest at about 329 miles (530 kilometers) in diameter - to bodies that are less than 33 feet (10 meters) across. The total mass of all the asteroids combined is less than that of Earth's Moon.</li>
        <li>In general, an asteroid’s composition is determined by how close it is to the Sun. Our nearby star’s pressure and heat tends to melt ice that is close by and to blow out elements that are lighter. There are many kinds of asteroids, but these are the three main types, according to NASA:
          <br>→Dark C (carbonaceous) asteroids, which make up most asteroids and are in the outer belt. They’re believed to be close to the Sun’s composition, with little hydrogen/helium/other “volatile” elements.
          <br>
          <br>
          →Bright S asteroids and are in the inner belt. They tend to be metallic iron with some silicates of iron and magnesium. 
          <br>
          <br>
          →Bright M (metallic) asteroids. They sit in the middle of the asteroid belt and are mostly made up of metallic iron. 
          <br>
          <center><img src="https://thumbs.dreamstime.com/b/cartoon-asteroid-idea-illustration-47065951.jpg" width="500px" height="400px"></center>
          <li>Asteroid Classifications
            <br>
            →Main Asteroid Belt: The majority of known asteroids orbit within the asteroid belt between Mars and Jupiter, generally with not very elongated orbits. The belt is estimated to contain between 1.1 and 1.9 million asteroids larger than 1 kilometer (0.6 mile) in diameter, and millions of smaller ones. 
            <br>
            →Trojans: These asteroids share an orbit with a larger planet, but do not collide with it because they gather around two special places in the orbit (called the L4 and L5 Lagrangian points). There, the gravitational pull from the sun and the planet are balanced by a trojan's tendency to otherwise fly out of the orbit. The Jupiter trojans form the most significant population of trojan asteroids. 

            <br>
            →Near-Earth Asteroids: These objects have orbits that pass close by that of Earth. Asteroids that actually cross Earth's orbital path are known as Earth-crossers. As of June 19, 2013, 10,003 near-Earth asteroids are known and the number over 1 kilometer in diameter is thought to be 861, with 1,409 classified as potentially hazardous asteroids - those that could pose a threat to Earth.
            <br>
          <li>Asteroids have moons.</li>
        <li>We have flown by, orbited and even landed on asteroids. NASA says there are more than 10 spacecraft that accomplished at least one of these, so we’ll just cover a couple of examples here.</li>
        <li>Asteroids are too small to support life as we know it. That’s because they’re too tiny to even hold on to atmospheres. Their gravity is too weak to pull their shape into a circle, so they’re irregularly shaped.</li>
        <li>Despite their small size, water may flow on asteroid surfaces.</li>
        <li>An asteroid could have killed the dinosaurs. The fossil record for dinosaurs and other creatures of their era show them rapidly disappearing around 65 million or 66 million years ago.</li>
      </ol>
    </p>

</body>
</html>