    <html>
    <head>
        <title>Planinfo</title>
        <style>
            .forms {
  text-align: justify;
  color: #ffff4d;
}
h3{
    font-size: 22px;
}


        </style>
    </head>
    <body style="background-image: url('https://static.tumblr.com/8ade401d83357da1b65204fcb4bc5cf3/qjm7cg6/Gxfq025vg/tumblr_static_-517331356-content.jpg');background-size:cover;">
        <div class ="forms"><center>

        <h1>Thanks for your opinion!</h1><br>
        <h2> Go back to the <a href="/" style="color: #f2f2f2">Home page..</a></h2>
        <h1>Our Previous Feedbacks..</h1>
        <h3><% data.forEach((info)=>{ %>
            <%= info.type %>
            :


            <%= info.description %>

            <br><br>
        <% }) %></h3>
    </center>
    <h3><center>Please give your Valuable Feedback!!<a href="/Insert_Info" style="color: #f2f2f2"> Here..</a></center></h3>
    </body></div>
</html>