<html>
  <header><head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel='stylesheet' href='/css/style.css' />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
<style>
  .article{
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
  }
  .dropbtn {
    background-color: #CF5565;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .maincontent{
    padding-left: 20px;
    padding-right: 20px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #ff334e;}
  </style>
</head>
<body style="background-color: rgb(250, 250, 154);">

    <div class="jumbotron hidden-xs">
    </div><!-- jumbotron -->

    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a href="/" class="navbar-brand" style="font-family: Lucida Handwriting;">Solar System</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/Planets">Planets</a></li>
            <div class="dropdown">
              <button class="dropbtn">Beyond Planets</button>
              <div class="dropdown-content">
                <a href="/Stars">Stars</a>
                <a href="/Asteroids">Asteroids</a>
                <a href="/Milkyway">Milky Way</a>
              </div>
            </div>
            <li><a href="/news">News</a></li>
            <li><a href="/Insert_Info">Feedback</a></li>
          </ul><!-- nav -->
        </div><!-- navbar-collapse -->
      </div><!-- container -->
    </nav>
    <br>
    <br>

    <div class="maincontent">
      <article class="article">
        <h1 class="article-title" style="font-family: Lucida Handwriting;">About The Solar System</h1>
          <p style="color:#003300; font-size: 25px;">Our planetary system is located in an outer spiral arm of the Milky Way galaxy. Our solar system consists of our star, 
            the Sun, and everything bound to it by gravity — the planets Mercury, Venus, Earth, Mars, Jupiter, Saturn, Uranus and Neptune, 
            dwarf planets such as Pluto, dozens of moons and millions of asteroids, comets and meteoroids. Beyond our own solar system, 
            we have discovered thousands of planetary systems orbiting other stars in the Milky Way.</p>
            <center><img src="../images/solar.jpg" style="width:650px;height:400px;"></center>
            <h1 class="article-title" style="font-family: Lucida Handwriting;"x>The SUN</h1>
          <p style="color:#003300; font-size: 22px;">The Sun is the largest object within our solar system, comprising 99.8% of the system’s mass.
            The Sun is located at the center of our solar system, and Earth orbits 93 million miles away from it.
            Though massive, the Sun still isn’t as large as other types of stars. It’s classified as a yellow dwarf star.
            The Sun's magnetic field spreads throughout the solar system via the solar wind.Its gravity holds the solar system together, keeping everything from the biggest planets to the smallest particles of debris in its orbit. Electric currents in the Sun generate a magnetic field that is carried out through the solar system by the solar wind—a stream of electrically charged gas blowing outward from the Sun in all directions.</p>
          <center><img src="https://img.republicworld.com/republic-prod/stories/images/15897761875ec20f3ba253b.png"></center>
      </article>

      <article class="article">
        <h1 class="article-title"style="font-family: Lucida Handwriting;" >10 Things About the Solar System!</h1>
        <ul style="color:#003300; font-size: 25px;"><li>Our solar system is made up of a star, eight planets and countless smaller bodies such as dwarf planets, asteroids and comets.</li>
        <li>Our solar system orbits the center of the Milky Way Galaxy at about 515,000 mph (828,000 kph). We’re in one of the galaxy’s four spiral arms.</li>
        <li>It takes our solar system about 230 million years to complete one orbit around the galactic center.</li>
        <li>There are three general kinds of galaxies: elliptical, spiral and irregular. The Milky Way is a spiral galaxy.</li>
        <li>Our solar system is a region of space. It has no atmosphere. But it contains many worlds—including Earth—with many kinds of atmospheres.</li>
        <li>The planets of our solar system—and even some asteroids—hold more than 150 moons in their orbits.</li>
        <li>The four giant planets—and at least one asteroid—have rings. None are as spectacular as Saturn’s gorgeous rings.</li>
        <li>More than 300 robotic spacecraft have explored destinations beyond Earth orbit, including 24 astronauts who orbited the moon.</li>
        <li>Our solar system is the only one known to support life. So far, we only know of life on Earth, but we’re looking for more everywhere we can.</li>
        <li>NASA’s Voyager 1 is the only spacecraft so far to leave our solar system. Four other spacecraft will eventually hit interstellar space.</li>

      </ul>
      </article>
      </div>
      
    </body>
  </header>
  </html>