<html>
  <header><head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel='stylesheet' href='/css/style.css' />
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
<style>
    h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #354497;
}
      .article{
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
  }
  .dropbtn {
    background-color: #CF5565;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .maincontent{
    padding-left: 25px;
    padding-right: 25px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #ff334e;}
  </style>
</head>
<body style="background-color: rgb(250, 250, 154);">
    <div class="jumbotron hidden-xs">
    </div><!-- jumbotron -->
  
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
  
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
  
          <a href="/" class="navbar-brand" style="font-family: Lucida Handwriting;">Solar System</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/Planets">Planets</a></li>
            <div class="dropdown">
              <button class="dropbtn">Beyond Planets</button>
              <div class="dropdown-content">
                <a href="/Stars">Stars</a>
                <a href="/Asteroids">Asteroids</a>
                <a href="/Milkyway">Milky Way</a>
              </div>
            </div><li><a href="/news">News</a></li>
            <li><a href="/Insert_Info">Feedback</a></li>
          </ul><!-- nav -->
        </div><!-- navbar-collapse -->
      </div><!-- container -->
    </nav>
    <div class="maincontent">
        <article class="article">
          <h1 class="article-title" style="font-family: Georgia;"><u><b>Stars..!</b></u></h1>
            <p style="color:#003300; font-size: 20px;">Stars are the most widely recognized astronomical objects, and represent the most fundamental building blocks of galaxies. The age, distribution, and composition of the stars in a galaxy trace the history, dynamics, and evolution of that galaxy. Moreover, stars are responsible for the manufacture and distribution of heavy elements such as carbon, nitrogen, and oxygen, and their characteristics are intimately tied to the characteristics of the planetary systems that may coalesce about them. Consequently, the study of the birth, life, and death of stars is central to the field of astronomy.</p>
              <center><img src="https://i.pinimg.com/originals/f5/80/a2/f580a22ec8c23621f14c94e9b4f20794.gif" width="750" height="450"></center>
              <h1 class="article-title" style="font-family: Lucida Handwriting;">Let's Dive Into Some Facts..!</h1>
            <p>
              <ul style="padding-right: 25px; font-size: 20px; color:#003300;">
                <li>Every star you see in the night sky is bigger and brighter than our sun. Of the 5,000 or so stars brighter than magnitude 6, only a handful of very faint stars are approximately the same size and brightness of our sun and the rest are all bigger and brighter.</li>
                <li>You can’t see millions of stars on a dark night. Despite what you may hear in TV commercials, poems and songs, you cannot see a million stars … anywhere. There simply are not enough close enough and bright enough. On a really exceptional night, with no Moon and far from any source of lights, a person with very good eyesight may be able to see 2000-2500 stars at any one time.</li>
                <li>Red hot and cool ice blue – NOT! We are accustomed to referring to things that are red as hot and those that are blue as cool. This is not entirely unreasonable, since a red, glowing fireplace poker is hot and ice, especially in glaciers and polar regions, can have a bluish cast. But we say that only because our everyday experience is limited. In fact, heated objects change color as their temperature changes, and red represents the lowest temperature at which a heated object can glow in visible light. As it gets hotter, the color changes to white and ultimately to blue. So the red stars you see in the sky are the “coolest” (least hot), and the blue stars are the hottest!</li>
                <li>Stars are black bodies. A black body is an object that absorbs 100 percent of all electromagnetic radiation (that is, light, radio waves and so on) that falls on it. A common image here is that of a brick oven with the interior painted black and the only opening a small window. All light that shines through the window is absorbed by the interior of the oven and none is reflected outside the oven. It is a perfect absorber. As it turns out, this definition of being perfect absorbers suits stars very well! </li>
                <center><img src="https://livingmags.co.uk/wp-content/uploads/2019/07/astronomy.jpg" width="750" height="450"></center>
                <li>There are no green stars. Although there are scattered claims for stars that appear green, including Beta Librae (Zuben Eschamali), most observers do not see green in any stars except as an optical effect from their telescopes, or else an idiosyncratic quirk of personal vision and contrast. Stars emit a spectrum (“rainbow”) of colors, including green, but the human eye-brain connection mixes the colors together in a manner that rarely if ever comes out green.</li>
                <li>Our sun is a green star. That being said, the sun is a “green” star, or more specifically, a green-blue star, whose peak wavelength lies clearly in the transition area on the spectrum between blue and green.  This is not just an idle fact, but is important because the temperature of a star is related to the color of its most predominate wavelength of emission. (Whew!) In the sun’s case, the surface temperature is about 5,800 K, or 500 nanometers, a green-blue. However, as indicated above, when the human eye factors in the other colors around it, the sun’s apparent color comes out a white or even a yellowish white.</li>
                <li>Our sun is a dwarf star. </li>
                <li>Stars don’t twinkle. Stars appear to twinkle (“scintillate”), especially when they are near the horizon. One star, Sirius, twinkles, sparkles and flashes so much some times that people actually report it as a UFO. But in fact, the twinkling is not a property of the stars, but of Earth’s turbulent atmosphere. </li>
                <li> You can see 20 quadrillion miles, at least. On a good night, you can see about 19,000,000,000,000,000 miles, easily. That’s 19 quadrillion miles, the approximate distance to the bright star Deneb in Cygnus. which is prominent in the evening skies of Fall and Winter.</li>
                <li>Black holes don’t suck. Many writers frequently describe black holes as “sucking” in everything around them. And it is a common worry among the ill-informed that the so-far hypothetical “mini” black holes that may be produced by the Large Hadron Collider would suck in everything around them in an ever increasing vortex that would consume the Earth! “Say it ain’t so, Joe!” Well, I am not Shoeless Joe Jackson, but it ain’t so. In the case of the LHC, it isn’t true for a number of reasons, but black holes in general do not “suck.”</li>
              
              </ul>


            </p> </article>
    </body>
  </header>
  </html>